@{
    ViewData["Title"] = "Humedal El Culebron";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1>@ViewData["Title"]</h1>


    <h2 class="p-4">Humedal El Culebrón: Un frágil ecosistema en la región de Coquimbo</h2>

    <img src="https://www.cualestuhuella.cl/files/614201239af2a_890x533.jpg" class="img-fluid p-4" alt="...">

    <h5>La actividad humana ha sido devastadora para el Humedal El Culebrón de la región de Coquimbo, pues en el lugar hay depósitos
    ilegales de basuras y deshechos de construcción.<br/></h5>

    <p>
        En la Bahía de Coquimbo, a 1 kilómetro del centro de la ciudad, se encuentra el Humedal El Culebrón. Este cuerpo de agua 
        es un pulmón verde para la comuna puerto y aquí viven aves, 
        reptiles y mamíferos que históricamente han habitado este lugar.
        <br /><br/>
        Este humedal se llama así debido al estero que lleva su nombre, y a la leyenda del Culebrón, un relato que habla sobre una 
        serpiente imaginaria, gruesa y de gran tamaño que supuestamente habita en algunos lugares soleados de Chile.
        <br /><br />
        En realidad, en este humedal no hay míticos culebrones, pero sí culebras de cola corta y larga, y lagartijas de Zapallar, 
        entre otros reptiles endémicos.
        <br /><br />
    </p>

    <img src="https://www.cualestuhuella.cl/files/files/Humedal%20El%20Culebro_n%20Coquimbo%20(1).jpg" class="img-fluid p-4" alt="...">

    <p class=" fw-bold">Paisaje de agua <br/></p>
    <p>
        Un humedal es un ecosistema acuático y terrestre. Aquí convergen lo mejor de dos mundos, siendo un hábitat para especies variadas
        de flora y fauna.<br/><br/>

        El agua es el rey indiscutido de los humedales, ya que en estos lugares se captan y retienen aguas de lluvia y deshielo que
        provienen de los ríos. También se 
        filtran y depuran de sedimentos los cauces, por lo que muchas veces se les llama “riñones del planeta”. 
        <br /><br />
        La alta cantidad de agua dulce y salada permite la coexistencia de una gran variedad de aves que visitan esta zona en invierno
        para descansar y alimentarse.

        <br/><br/>
        Además, la Región de Coquimbo se encuentra inserta en uno de los 25 hot spots con mayor biodiversidad del mundo. Esto quiere 
        decir que es una zona donde viven muchas especies de seres vivos. 

        <br /><br />

        En el Humedal El Culebrón se concentran 83 especies de aves, que corresponde al 18% de la avifauna nacional. También en el
        verano, aquí se reúnen otros 24 tipos de aves
        migratorias, como la Gaviota de Franklin que tiene como lugar favorito para el descanso a la Bahía de Coquimbo. Sin lugar a dudas, un excelente panorama para los amantes del orniturismo. 
        <br/><br/>
    </p>

    <img src="https://www.cualestuhuella.cl/files/files/IMG_2036.JPG" class="img-fluid p-4" alt="...">

    <p class=" fw-bold">El desafío de cuidar el humedal <br /></p>

    <p>
        Diversos estudios concuerdan que en El Culebrón hay un grave problema de contaminación que pone en peligro la vida de la flora y fauna. La actividad humana ha sido devastadora, y en el 
        lugar hay depósitos ilegales de basuras y deshechos de construcción. 

        <br /><br />
        Con el objetivo de su conservación, organizaciones civiles de Coquimbo periódicamente llevan a cabo campañas para descontaminar el humedal. Es común ver todos los fines de semana, 
        voluntarios retirando basura y escombros que se acumularon por años en esta zona. 

        <br /><br />
        El turismo también es un verdugo para El Culebrón, ya que en la temporada estival es cuando más actividad hay en el sector. De todas formas la consciencia humana es poderosa, y
        existe un gran potencial para fomentar el turismo ecológico y sustentable. 
        <br /><br />
    </p>