@{
    ViewData["Title"] = "Humedal Elqui";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1>@ViewData["Title"]</h1>


    <h2 class="p-4">Río Elqui es reconocido como primer humedal urbano de la Región de Coquimbo</h2>

    <img src="https://mma.gob.cl/wp-content/uploads/2022/08/WhatsApp-Image-2022-08-05-at-1.37.17-PM.jpeg" class="img-fluid p-4" alt="...">

    <p>

        El Ministerio del Medio Ambiente otorgó su reconocimiento a este humedal costero, estuarino, ribereño y palustre de la comuna de La Serena,
        que posee una superficie aproximada de 492,8 hectáreas que abarcan desde la localidad de Altovalsol hacia la desembocadura que conecta con
        el Pacífico.<br /><br/>

        En una ceremonia realizada en el Faro Monumental de la capital regional y organizada por la Secretaria Regional Ministerial del Medio 
        Ambiente Región de Coquimbo y la Ilustre Municipalidad de La Serena se celebró el reconocimiento del humedal urbano “Río Elqui, Altovalsol a 
        Desembocadura” el cual se concretó el 05 de agosto de 2022 con la publicación en el Diario Oficial. El cuerpo de agua recibió esta calidad
        en el marco de la Ley de Humedales N°21.202 gracias al apoyo de diversas instituciones y organizaciones público-privadas, habitantes del sector 
        y Organizaciones No Gubernamentales.<br /><br />

        La actividad contó con la participación del Seremi de Medio Ambiente Leonardo Gros; el Seremi de Bienes Nacionales Marcelo Salazar, el alcalde 
        Roberto Jacob, el Capitán de Puerto de Coquimbo Víctor Herrera; el Jefe Regional de la Superintendencia del Medio Ambiente Gonzalo Parot; el 
        presidente de la Comisión de Medio Ambiente, Energía y Minería del CORE Coquimbo Pedro Valencia; concejales, Comité Ambiental Comunal de La 
        Serena; el Gerente del CEAZA, Claudio Vásquez; integrantes del Comité Técnico Local del Proyecto GEF Humedales Costeros; ONG´s, estudiantes 
        del colegio Caleta San Pedro y habitantes de la ciudad.<br /><br />

    </p>

    <p class="fw-bold"> Importancia de los humedales <br /><br /></p>

    <p>El Ministerio del Medio Ambiente otorgó su reconocimiento a este humedal costero, estuarino, ribereño y palustre de la comuna de La Serena, que posee una superficie aproximada de 492,8 hectáreas que abarcan desde la localidad de Altovalsol hacia la desembocadura que conecta con el Pacífico.</p>
    <p>En una ceremonia realizada en el Faro Monumental de la capital regional y organizada por la Secretaria Regional Ministerial del Medio Ambiente Región de Coquimbo y la Ilustre Municipalidad de La Serena se celebró el reconocimiento del humedal urbano “Río Elqui, Altovalsol a Desembocadura” el cual se concretó el 05 de agosto de 2022 con la publicación en el Diario Oficial. El cuerpo de agua recibió esta calidad en el marco de la Ley de Humedales N°21.202 gracias al apoyo de diversas instituciones y organizaciones público-privadas, habitantes del sector y Organizaciones No Gubernamentales.</p>
    <p>La actividad contó con la participación del Seremi de Medio Ambiente Leonardo Gros; el Seremi de Bienes Nacionales Marcelo Salazar, el alcalde Roberto Jacob, el Capitán de Puerto de Coquimbo Víctor Herrera; el Jefe Regional de la Superintendencia del Medio Ambiente Gonzalo Parot; el presidente de la Comisión de Medio Ambiente, Energía y Minería del CORE Coquimbo Pedro Valencia; concejales, Comité Ambiental Comunal de La Serena; el Gerente del CEAZA, Claudio Vásquez; integrantes del Comité Técnico Local del Proyecto GEF Humedales Costeros; ONG´s, estudiantes del colegio Caleta San Pedro y habitantes de la ciudad.</p>
    <p><strong>Importancia de los humedales</strong></p>
    <p>La Ley de Humedales Urbanos busca proteger estos ecosistemas declarados por el Ministerio de Medio Ambiente, de oficio o a petición de los municipios, reconociendo el rol de estos para la conservación de la biodiversidad y la provisión de servicios ecosistémicos claves para mejorar la calidad de vida de las personas en las comunas.</p>
    <p>Al respecto, el Seremi del Medio Ambiente Leonardo Gros, destacó que “esta declaración marca un día histórico para la región, mostrando un camino que vamos</p>
    <p>a continuar para garantizar el cuidado, resguardo y la proyección de los humedales, buscando una relación armónica entre el desarrollo de las ciudades y el medio ambiente. Es lo que nos ha pedido el Presidente Gabriel Boric y la ministra Maisa Rojas, siendo el sendero en que vamos a avanzar decididamente con la comunidad, de esta región.”</p>
    <p>De acuerdo a lo que establece la ley de humedales, las municipalidades deben elaborar una ordenanza general cuyo objetivo sea el cuidado de estos valiosos espacios naturales, junto con modificar su Plan Regulador Comunal, con miras a establecer usos de suelo compatibles con el área de alto valor ambiental.</p>
    <p>“Desde el punto de vista ambiental este reconocimiento es una noticia esperada y que se recibe con responsabilidad, por lo que implica en el resguardo de nuestros ecosistemas y biodiversidad. Es por lo mismo, que ya estamos trabajando en la elaboración de la ordenanza correspondiente, lo que es parte de las obligaciones que la Ley de Humedales Urbanos y su Reglamento entregan al municipio” destacó el alcalde Roberto Jacob.</p>
    <p>Durante la ceremonia, se presentó un extracto del cuento “La Orquesta del Humedal” desarrollada por el Centro de Estudios Avanzados en Zonas Áridas (CEAZA) junto a diferentes instituciones y organizaciones, vinculadas a la conservación de la biodiversidad. Para finalizar la actividad se invitó a recorrer stands de la ONG´s Red Aves y a conocer infografías sobre el cuidado del patrimonio natural de la región de Coquimbo.</p>
    <p><strong>Participación Ciudadana fortalece propuesta original</strong></p>
    <p>Actualmente existen 88 humedales urbanos reconocidos a nivel nacional por el Ministerio del Medio Ambiente, sumando una superficie por sobre las 8.000 hectáreas protegidas por la ley.</p>
    <p>En septiembre de 2021 por medio de la Resolución Exenta N°960 del Ministerio del Medio Ambiente, se inició el proceso administrativo para reconocer el tramo costero del río Elqui como humedal urbano. La propuesta original surgió gracias al Proyecto GEF de Humedales Costeros y su delimitación ecológica que permitió construir el polígono del tramo de río que está ubicado parcialmente dentro del límite urbano de la ciudad de La Serena.</p>
    <p>Posteriormente durante 15 días hábiles se recibió una serie de antecedentes presentados por personas naturales y jurídicas, donde se estimó que 29 fueron pertinentes para el análisis técnico de la declaratoria, porque se relacionaban con los tres criterios que estipula la ley de humedales urbanos: a) presencia de vegetación hidrófita; b) presencia de suelos hídricos con mal o sin drenaje; y c) régimen hidrológico de saturación, permanente o temporal que genera condiciones de inundación periódica.</p>
    <p>Una vez recopiladas las observaciones de la ciudadanía, se inició un trabajo entre profesionales de la SEREMI del Medio Ambiente, el Proyecto GEF Humedales Costeros y el Departamento de Gestión Ambiental de la Municipalidad de La Serena, consistente en visitas a terreno, revisión de cartografía y análisis de imágenes satelitales, logrando ajustar el polígono para cumplir con los criterios de delimitación que establece la ley.</p>
    <p><strong>Humedal Urbano Río Elqui</strong></p>
    <p>El humedal Río Elqui, Altovalsol a Desembocadura es un ecosistema que presenta altos niveles de amenaza por rellenos del área, producto de la urbanización sobre el humedal y en zonas aledañas y porque este espacio ha sido utilizado como zona de disposición de escombros y residuos domiciliarios.</p>
    <p>Este valioso ecosistema; es un cuerpo de agua de alto endemismo, riqueza y diversidad de 161 especies de fauna vertebrada, de las cuales 139 corresponden a aves residentes y migratorias. Además de especies en categoría de conservación como el pidencito (Laterallus jamaicensis), clasificada como “Casi Amenazada” para la región de Coquimbo, y el Chorlo nevado (Charadrius nivosus), clasificado “Vulnerable”.</p>
    <p>Es un lugar relevante en términos culturales, sociales y turísticos, debido a que provee servicios ecosistémicos culturales relacionados al desarrollo de actividades de educación ambiental y recreación para la comunidad de la región y turistas nacionales, así como prácticas tradicionales asociadas al pueblo Diaguita.</p>

</div>






