
@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" >
    <div id="particles-js"></div>
    <div class="col-md-12 px-0" >
        <h1 class="display-4 fst-italic">Humedales</h1>
        <p class="lead my-3">Son ecosistemas acuáticos enormemente diversos, esenciales para mantener el ciclo del agua. Según Ramsar, los humedales son zonas donde el agua es el principal factor controlador del medio y de la vida vegetal y animal asociada a él. .</p>
    </div>
</div>


<div class="p-4 row align-items-md-stretch">
    <div class="col-md-3">
        <div class="h-100 p-5 text-white bg-success rounded-3">
            <h2>Conaf</h2>
            <p>130</p>
            <a href="tel:130">
                <button class="btn btn-outline-light" type="button">Llamar</button>
            </a>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="h-100 p-5 text-white bg-danger border rounded-3">
            <h2>Bombero</h2>
            <p>132</p>
            <a href="tel:132">
                <button class="btn btn-outline-light" type="button">Llamar</button>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="h-100 p-5 text-white bg-success rounded-3">
            <h2>Carabineros</h2>
            <p>133</p>
            <a href="tel:133">
                <button class="btn btn-outline-light" type="button">Llamar</button>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Ministerio de medio ambiente</h2>
            <p>+56 2 2573 5800</p>
            <a href="tel:+56225735800">
                <button class="btn btn-outline-secondary" type="button">Llamar</button>
            </a>
            
        </div>
    </div>
        
</div>


<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Humedal Rio Elqui</strong>
                <h3 class="mb-0">Noticia</h3>
                <div class="mb-1 text-muted">Agos 5</div>
                <p class="card-text mb-auto">Río Elqui es reconocido como primer humedal urbano de la Región de Coquimbo.</p>
                <a asp-area="" asp-controller="Home" asp-action="HumedalElqui" class="stretched-link">Continuar leyendo...</a>
            </div>
            <div class="col-auto d-none d-lg-block">

                <img src="https://mma.gob.cl/wp-content/uploads/2022/08/WhatsApp-Image-2022-08-05-at-1.37.17-PM.jpeg"
                 alt="Humedal Rio Elqui"
                 width="200"
                 height="250">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Humedal El Culebron</strong>
                <h3 class="mb-0">Noticia</h3>
                <div class="mb-1 text-muted">Agost 09</div>
                <p class="mb-auto">Humedal El Culebrón: Un frágil ecosistema en la región de Coquimbo.</p>
                <a asp-area="" asp-controller="Home" asp-action="HumedalElCulebron" class="stretched-link">Continuar leyendo...</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://www.cualestuhuella.cl/files/files/Humedal%20El%20Culebro_n%20Coquimbo%20(1).jpg"
                     alt="Humedal Rio Elqui"
                     width="200"
                     height="250">
            </div>

            </div>

        </div>
  
    </div>



